{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.request.server.get('APP_NAME') }}{% endblock %}

{% block body %}
 <div class="container">
     <div class="row">
         <a href="{{ path('movies_login') }}" class="btn btn-primary">START</a>
     </div>
 </div>
{% endblock %}
